header {
    font-variant: small-caps;
    font-size: 72px;
    font-weight: bold;
}

body {
    
    background-image: url(https://external-preview.redd.it/SDAO4cgS_5eoNNR_LsvhJ86N23wvbSufGnAd-QW2f3s.png?width=960&crop=smart&auto=webp&v=enabled&s=7ab33f7e650de669c128f2e325b6fcd684dc701c);
    background-color: #5bc4e4;
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

[data-type="electric"]{
    background-color: #F8D030;
    border-top-color: #F8F878;
    border-bottom-color: #B8A038;
    color: black;

}

[data-type="poison"]{
    background-color: #A040A0;
    border-top-color: #D880B8;
    border-bottom-color: #483850;
    color: rgb(245, 243, 243);

}

[data-type="flying"]{
    background-color: #f1f0eb;
    border-top-color: #70706d;
    border-bottom-color: #070600;
    color: rgb(3, 3, 3);

}

[data-type="water"]{
    background-color: #2954cab7;
    border-top-color: #2954ca;
    border-bottom-color: #060f41;
    color: rgb(248, 245, 245);

}

[data-type="grass"]{
    background-color: #07681c93;
    border-top-color: #78f88d;
    border-bottom-color: #38b85459;
    color: white;

}

[data-type="ice"]{
    background-color: #48cdf5;
    border-top-color: #94eef1;
    border-bottom-color: #94eef105;
    color:black;

}

[data-type="normal"]{
    background-color: #A8A878;
    border-top-color: #D8D8D0;
    border-bottom-color: #705848;
    color: black;

}

[data-type="fighting"]{
    background-color: #C03028;
    border-top-color: #F08030;
    border-bottom-color: #484038;
    color: white;

}


[data-type="psychic"]{
    background-color: #F85888;
    border-top-color: #F8C0B0;
    border-bottom-color: #789010;
    color: black;

}

[data-type="bug"]{
    background-color: #02300c;
    border-top-color: #43d6639a;
    border-bottom-color: #023b10;
    color: white;
    

}

[data-type="rock"]{
    background-color: #B8A038;
    border-top-color: #E0C068;
    border-bottom-color: #886830;
    color: black;

}

[data-type="ghost"]{
    background-color: #705898;
    border-top-color: #A890F0;
    border-bottom-color: #483850;
    color: white;

}

[data-type="dark"]{
    background-color: #020100;
    border-top-color: #f3f3f0bd;
    border-bottom-color: #b8a13800;
    color: white;

}


[data-type="dragon"]{
    background-color: #7038F8;
    border-top-color: #B8A0F8;
    border-bottom-color: #483890;
    color: black;

}


[data-type="ground"]{
    background-color: #6d8349;
    border-top-color: #D8D8C0;
    border-bottom-color: #807870;
    color: black;

}


[data-type="fairy"]{
    background-color: #F0B6BC;
    border-top-color: #F5CAD1;
    border-bottom-color: #905F63;
    color: black;

}

[data-type="fire"]{
    background-color: #F08030;
    border-top-color: #F8D030;
    border-bottom-color: #C03028;
    color: black;

}


[data-type] {
    border-style: solid none;
    border-width: 1px;
    border-radius: 5px;
    padding: 0.15em;
    font-variant: small-caps;
    font-size: 9pt;
    text-shadow: 0 1px 1px #807870;
    font-weight: 400;

}

.row {
    display: flex;
    
}

.column {
    display: flex;
    flex-direction: column;
    
}

.gap-md {
    gap: 12px;
}

.align-center{
    align-items: center;
}

.align-self-stretch{
    align-self: stretch;
}

[data-type]{
    flex-grow: 1;
    flex-basis: 0;
}

.card {
    width: 138px;
    border-radius: 10px;
    background-color: cadetblue;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

.small-caps {
    font-variant: small-caps;
}

#pokemonForm {
    padding: 32px;
}

#pokemonAbilities {
    padding-top: 10px;
}

#pokemonAbilities div {
    margin: 2px;
    text-align: center;
    font-variant: small-caps;
    font-weight: 200;
}

#pokemonAbilities h3 {
    text-align: center;
    font-variant: small-caps;
    
}

#pokemonHeight {
    margin-top: 32px;
    font-variant: small-caps;
}

#pokemonWeight {
    margin-bottom: 16px;
    font-variant: small-caps;
}